.news-spacer {
  flex: 1 1 auto;
}

.news-card {
  margin-top: 4px;
}

.news-header-image {
  background-size: cover;
}

.title {
  font-weight: bold;
}

.img-article {
  height: 350px;
}

.action-buttons {
  text-align: center;
}

.news-container {
  width: 100%;
  height: auto;
  border: 1px solid rgba(111, 111, 111, 0.5);
}

.news-sidenav-content {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;
}

.news-sidenav {
  padding: 20px;
}

.source-name {
  margin-left: 5px;
}

.list-item:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}
